<div class="container">
    <h3> Agentes Transito Heroku <a (click)="createAgent()" class="btn btn-primary">Nuevo Agente</a></h3>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="agents" class="table">
        <caption> Todos los agentes en el sístema </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">AÑOS DE EXPERIENCIA</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agent of dbAgents, let i = index">
                <th scope="row">{{agent.id}}</th>
                <td>{{agent.nameA}}</td>
                <td>{{agent.lastNameA}}</td>
                <td>{{agent.yearsExperienceA}}</td>
                <td>
                    <a (click)="showAgent(agent)" class="btn btn-primary">Más info</a>
                    &nbsp;
                    <a (click)="historyAgent(agent.id)" class="btn btn-primary">Historial</a>
                    &nbsp;
                    <a (click)="editAgent(agent)" class="btn btn-warning">Editar</a>
                    &nbsp;
                    <a (click)="deleteAgent(agent.id,i)" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>