<div class="container">
    <h3> Agentes Transito <a (click)="createSecretary()" class="btn btn-primary">Nueva Secretaria</a></h3>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="secretarys" class="table">
        <caption> Todos los agentes en el sístema </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let secretary of dbSecretarys, let i = index">
                <th scope="row">{{secretary.id}}</th>
                <td>{{secretary.nameS}}</td>
                <td>
                    <a (click)="editSecretary(secretary)" class="btn btn-warning">Editar</a>
                    &nbsp;
                    <a (click)="deleteSecretary(secretary.id, i)" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>