<div class="container">
    <form [formGroup]="createSecretaryForm">
        
        <div class="form-row">
            <div class="col">
                <label>Nombre</label>
                <input formControlName="nameS" name="name" type="text" class="form-control" placeholder="Nombre">
            </div>
        </div>

        &nbsp;

        <button *ngIf="!isEditable" [disabled]="!createSecretaryForm.valid" (click)="createSecretary()" class=" form-control btn btn-primary btn-block"> Crear Secretaria</button>
        <button *ngIf="isEditable" [disabled]="!createSecretaryForm.valid" (click)="editSecretary()" class=" form-control btn btn-primary btn-block"> Editar Secretaria </button>

    </form>
</div>