<div class="container">
    <h2> Vías Heroku <a (click)="createTrack()" class="btn btn-primary">Nueva Vía</a> </h2>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tracks" class="table">
        <caption> Todas las vías en el sístema </caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TIPO</th>
                <th scope="col">CALLE O CARRETERA</th>
                <th scope="col">NÚMERO</th>
                <th scope="col">NIVEL DE CONGESTIÓN</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let track of dbTracks; let i=index">
                    <th scope="row">{{track.id}}</th>
                    <td>{{track.typeT}}</td>
                    <td>{{track.streetOrCarrerT}}</td>
                    <td>{{track.numberT}}</td>
                    <td>{{track.levelCongestionT}}</td>
                    <td>
                         <a (click)="historyTrack(track.id)" class="btn btn-primary">Historial</a>
                         &nbsp;
                         <a (click)="editTrack(track)" class="btn btn-warning">Editar</a>
                         &nbsp;
                         <a (click)="deleteTrack(track.id,i)" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>