<div class="container">
    <form [formGroup]="createTrackForm">
        <div class="form-row">
            <div class="col">
                <label>Tipo</label>
                <select formControlName="typeT" class="form-control" name="type">
                    <option value="Autopista"> Autopista </option>
                    <option value="Carretera Principal"> Carretera Principal </option>
                    <option value="Carretera Secundaria"> Carretera Secundaria </option>
                </select>
            </div>
            <div class="col">
                <label>Calle o Carrera ?</label>
                <select formControlName="streetOrCarrerT" class="form-control" name="street">
                    <option value="Calle"> Calle </option>
                    <option value="Carrera"> Carrera </option>
                </select>
            </div>
        </div>


        <div class="form-row">
            <div class="col">
                <label>Número</label>
                <input formControlName="numberT" name="number" type="number" min="0" class="form-control" placeholder="Años" value="0">
            </div>
            <div class="col">
                <label>Nivel De Congestión</label>
                <input formControlName="levelCongestionT" name="level" type="number" min="0" class="form-control" placeholder="Meses" value="0">
            </div>
        </div>

        &nbsp;

        <button *ngIf="!isEditable" [disabled]="!createTrackForm.valid" (click)="createTrack()" class=" form-control btn btn-primary btn-block"> Crear Vía </button>
        <button *ngIf="isEditable" [disabled]="!createTrackForm.valid" (click)="editTrack()" class=" form-control btn btn-primary btn-block"> Editar Vía </button>

    </form>
</div>