<div class="container">
    <form [formGroup]="createAgentForm">
        <div class="form-row">
            <div class="col">
                <label>Nombre</label>
                <input formControlName="nameA" type="text" class="form-control" name="name" placeholder="Nombre">
            </div>
            <div class="col">
                <label>Apellido</label>
                <input formControlName="lastNameA" type="text" class="form-control" name="last" placeholder="Apellidos">
            </div>
        </div>


        <div class="form-row">
            <div class="col">
                <label>Experiencia Años</label>
                <input formControlName="years" name="years" type="number" min="0" max="40" class="form-control" placeholder="Años" >
            </div>
            <div class="col">
                <label>Mesés</label>
                <input formControlName="months" name="months" type="number" min="0" max="12" class="form-control" placeholder="Meses">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label>Secretaria</label>
                <select formControlName="secretaryIdA" name="secretary" class="form-control" required>
                    <option *ngFor="let secretary of dbSecretarys | async" value="{{secretary.id}}"> {{secretary.id}} - {{secretary.nameS}} </option>
                </select>
            </div>
            <div class="col">
                <label>Via</label>
                <select formControlName="trackIdA" name="track" class="form-control" required>
                    <option *ngFor="let track of dbTracks | async" value="{{track.id}}"> {{track.id}} - {{track.typeT}} - {{track.streetOrCarrerT}} - {{track.numberT}} </option>
                </select>
            </div>
        </div>

        &nbsp;


        <button *ngIf="!isEditable" [disabled]="!createAgentForm.valid" (click)="createAgent()" class=" form-control btn btn-primary btn-block"> Crear Agente </button>
        <button *ngIf="isEditable" [disabled]="!createAgentForm.valid" (click)="editAgent()" class=" form-control btn btn-primary btn-block"> Editar Agente </button>

    </form>
</div>