<div class="container">
    <h2> Historico de agente y vía - {{dbHistory[0].agentIdH}} - {{dbHistory[0].agentNameH}}  </h2>
    <a (click)="agents()" class="btn btn-block btn-primary">Regresar</a>
    <table id="history" class="table">
        <caption> Todas las vías asignadas a este agente </caption>
        <thead>
            <tr>
                <th scope="col">VÍA</th>
                <th scope="col">FECHA DE INICIO</th>
                <th scope="col">FECHA FINAL</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let history of dbHistory">
                    <td>{{history.trackIdH}} - {{history.trackNameH}}</td>
                    <td>{{history.startDateH}}</td>
                    <ng-container *ngIf="history.finalDateH != null; else elseTemplate">
                        <td>{{history.finalDateH}}</td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td>Ruta Activa</td>
                    </ng-template>
                </tr>
        </tbody>
    </table>
</div>