<div class="modal-header">
    <h4 class="modal-title">Información De Agente</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label for="name">Nombre:</label>
    {{agent.nameA}}
    <br>
    <label for="lastName">Apellido:</label>
    {{agent.lastNameA}}
    <br>
    <label for="years">Experiencia:</label>
    <p>{{agent.yearsExperienceA}} (Años: {{years}} - Meses: {{months}})</p>
    <label for="secretary">Secretaria:</label>
    {{secretary.id}} - {{secretary.nameS}}
    <br>
    <label for="track">Vía:</label>
    {{track.id}} - {{track.typeT}} - {{track.streetOrCarrerT}} - {{track.numberT}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="dismiss()">Cerrar</button>
</div>