<div class="container">
    <h1> Historial </h1>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="history" class="table">
        <caption> Historial completo </caption>
        <thead>
            <tr>
                <th scope="col">AGENTE</th>
                <th scope="col">VÍA</th>
                <th scope="col">FECHA DE INICIO</th>
                <th scope="col">FECHA FINAL</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let history of dbHistory">
                    <th scope="row">{{history.agentIdH}} - {{history.agentNameH}}</th>
                    <td>{{history.trackIdH}} - {{history.trackNameH}}</td>
                    <td>{{history.startDateH}}</td>
                    <ng-container *ngIf="history.finalDateH != null; else elseTemplate">
                        <td>{{history.finalDateH}}</td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td>Ruta Activa</td>
                    </ng-template>
                </tr>
        </tbody>
    </table>
</div>