<div class="container">
    <h2> Historico de Vía y Agente - {{dbHistory[0].trackIdH}} - {{dbHistory[0].trackNameH}}  </h2>
    <a (click)="tracks()" class="btn btn-block btn-primary">Regresar</a>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="history" class="table">
        <caption> Todas los agentes asignados a esta vía </caption>
        <thead>
            <tr>
                <th scope="col">AGENTE</th>
                <th scope="col">FECHA DE INICIO</th>
                <th scope="col">FECHA FINAL</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let history of dbHistory">
                    <th scope="row">{{history.agentIdH}} - {{history.agentNameH}} </th>
                    <td>{{history.startDateH}}</td>
                    <ng-container *ngIf="history.finalDateH != null; else elseTemplate">
                        <td>{{history.finalDateH}}</td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td>Ruta Activa</td>
                    </ng-template>
                </tr>
        </tbody>
    </table>
</div>